*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.loading-text{
    font-weight: bold;
    font-size: 100px;
    color: green;
}
.bg{
    background: url('https://images.unsplash.com/photo-1668741932680-5e8c88401bb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width:calc(100vh+60px);
    z-index: -1;
    filter: blur(0px);  
    
}
